body,
html {
  height: 100vh;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: url("#flyOn");
  animation: wavemover 10s infinite alternate linear;
  font-family: 'Rubik Mono One', sans-serif;
  background:
  linear-gradient(#0d4fa7 0%, #3072cc 60%, #6facff 100%);
}

h1 {
  color: #fff;
  font-size: 3.6em;
  max-width: 7ch;
  opacity: .6;
  margin-left: 20%;
}

@keyframes wavemover {
  100% {
    padding-left: 300px;
    transform: translateX(-100px);
  }
}
